:root {
  --primary: #E50136;   /* Vermelho */
  --secondary: #0B6BB5; /* Azul */
  --neutral: #8E8C8D;   /* Cinza */
  --bg-dark: #0f172a;   /* Fundo Escuro Moderno */
  --card-bg: #1e293b;
  --text-white: #f8fafc;
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, sans-serif;
  background-color: var(--bg-dark);
  color: var(--text-white);
}